@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .grid-cols-only-content {
    grid-template-columns: auto;
  }

  .grid-cols-sidebar-content {
    grid-template-columns: 20rem auto;
  }

  .grid-cols-sidebar-content-toc {
    grid-template-columns: 20rem auto 20rem;
  }
}
